<launch>
	<node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

	<node pkg="nodelet" type="nodelet" name="NormalEstimationOctree" args="load octreelib/NormalEstimationOctree standalone_nodelet" output="screen" required="true">
  	  <remap from="~input" to="/camera/depth/points" />
          <rosparam>
            visualize_normals: true
          </rosparam>
	</node>                 
 
 <!-- start openni_camera -->
 <!--include file="$(find openni_camera)/launch/openni_node.launch"/-->


	<!-- start rviz -->
	 <node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find octreelib)/normalestimation_rviz.vcg">
	 </node>



</launch>
